
footer{
    background-color: #191919;
    border-top: 1px solid white;
}
footer > p{
    font-family: "Noto Sans KR";
    font-size: calc(100vw * (20/1920));
    color: white;
    
    width: 85%;
    margin: 0 auto;
    padding: calc(100vw * (10/1920)) 0;   
}
footer address{ 
    padding: calc(100vw * (10/1920)) 0;
}
#addressWrap{
    width: 85%;
    margin: 0 auto;
}
footer address p{
    font-family: "SUB";
    font-size: calc(100vw * (14/1920));
    color: white;
    margin: calc(100vw * (10/1920)) 0;
}
@media all and (max-width: 1280px) {
    footer > p{
        font-size: calc(100vw * (24/1280));
        padding: calc(100vw * (12/1280)) 0;   
    }
    footer address{ 
        padding: calc(100vw * (12/1280)) 0;
    }
    footer address p{
        font-size: calc(100vw * (16.8/1280));
        margin: calc(100vw * (12/1280)) 0;
    }
}
@media all and (max-width: 780px) {
    footer > p{
        font-size: calc(100vw * (30/780));
        padding: calc(100vw * (15/780)) 0;   
    }
    footer address{ 
        padding: calc(100vw * (15/780)) 0;
    }
    footer address p{
        font-size: calc(100vw * (18/780));
        margin: calc(100vw * (15/780)) 0;
    }
}