@charset "utf-8";
/* FONT */
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
/* NanumSquare */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
/* 'Noto Sans KR' */

/* INIT */
:root {
    --doc-height: 100%;
   }
*{
    box-sizing: border-box;
    font-style: normal;
}
body, h1, ul, li, a, p, address, dl, dt, dd{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
}
.hideText{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
body{
    overflow: hidden;
    overscroll-behavior: contain;
}
html, body{
    height: 100vh; /* fallback for Js load */
    height: var(--doc-height);
}